.AppLabel {
    width: 150px;
    height: 25px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;

    &:hover {
        span {
            transform: translateX(calc(150px - 100%));
        }
    }
    span {
        position: absolute;
        white-space: nowrap;
        transform: translateX(0);
        transition: 1s;
    }
}